<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world" default="stage_3"/>
  <arg name="node_start_delay" default="10.0" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <!-- G-mapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping_new.launch">
  </include>

  <!-- Simulation -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_simulation.launch">
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node pkg="pathfinder" type="map_generator.py" name="map_gen" cwd="node" ></node>
  <node pkg="pathfinder" type="obs_import_py2.py" name="obs_imp" cwd="node"></node>
  <node pkg="pathfinder" type="prmplanner_py2.py" name="planner" cwd="node"></node>

</launch>
